:root{
    --black: #000000;
    --white: #FFFFFF;
    --primary: #0177b6;
    --primary-light: #b9dff3;
    --primary-dark: #105071; 
    --accent-red: #dd5040;
    --accent-orange: #e68624 ;
    --tertiary: #adaeb3;
    --tertiary-light: #f0f1f7;
    --tertiary-dark: #68696b;
}

.display-calendar {
    display: flex;
    flex-direction: row;
    margin: 2% 2% ;
    min-width: 300px;
    width: 48%;
    
}

.time-column h4 {
    border: 1px solid var(--black);
    margin: 2% 5% ;
    width: 95vw;
}
.time-column > div.blank {
    padding: 6px;
}
.time-column h2 {
    border: 1px solid var(--black);
    font-size: large;
    height: 2rem;
    text-align: center;
    min-width: 120px;
}

.blankbutton, .lowbutton, .highbutton {
    text-align: center;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    padding: 6px;
}

.time-column > div.blank.clickable {
    cursor: pointer;
    
}
.time-column > div.blank.clickable:hover {
    cursor: pointer;
    background-color: var(--primary-light);
}
.blank, .low, .high {
    border: 1px solid var(--black);
}

div {
    padding: 0px;
}
.blank {
    background-color: var(--white);
    color: var(--black);
}

.low, .lowbutton {
    background-color: var(--tertiary);
    color: var(--white);
}

.high, .highbutton {
    background-color: var(--accent-red);
    color: var(--white);
}

.other-sep {
    background-color: var(--primary-light);
    color: var(--primary-light);
}

.shared {
    background-color: var(--primary);
    color: var(--primary);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 0;
    margin: 10px;
}
